.HH{
    text-align: center;
    color: whitesmoke;
}
#div{
    margin-top:100px;
    border-radius: 25px;
}
#mostrar{
    right:10700px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input{
    text-align: center;
}
.boton{ 
    width: 100px;
    border-radius: 25px;
}    
